# Never execute anything that is uploaded
php_flag engine off
AddType text/plain .php .php3 .php4 .php5 .php7 .phtml .pl .py .cgi .asp .sh
Options -ExecCGI -Indexes
RemoveHandler .php .phtml .php3 .php4 .php5 .php7
